.sidepanel {
    
    .md-tabs-navigation.md-elevation-0 {
        background-color: transparent !important;
        border-bottom-color: white;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}